/* iPhone 11 Pro Max */

@media only screen
    and (max-width: 414px)
    and (min-width: 389px) {

    body {
        font-size: 26px;
        width: 100%;
    }

    #header {
        width: 95%;
        min-width: 95%;
    }

    .container {
        width: 90%;
        min-width: 300px;
        height: 95%;
        padding: 10px auto;
        grid-template: 1fr / 1fr;
        row-gap: none;
    }

    .input-div {
        width: 92%;
        height: auto;
        padding-bottom: none;
    }

    #header > h2 {
        font-size: 20px;
    }

    h5 {
        font-size: 14px;
    }

    button {
        padding: 2px;
        width: 50%;
    }

    input {
        width: 50px;
        font-size:30px;
    }

    .time-input {
        margin-top: -10px;
        width: 55%;
        font-size: 20px;
    }

    #compute {
        margin-top: 15px;
    }

    #singleTotal {
        width: 96%;
    }

    #hours {
        margin-top: -14px;
    }

    .table-div {
        width: 90%;
        align-content: start;
    }

    table {
        text-align: center;
    }

    #finalDiv {
        width: 96%;
        align-content: center;
    }

    #dude {
        font-size: 36px;
        padding: 5px;
        font-weight: bold;
    }

    #total > h2 > p {
        display: block;
    }

    #reset {
        position: absolute;
        top: 20%;
        left: 80%;
        width: 65px;
        height: 30px;
        font-size: 16px;
    }

    #clock {
        width: 80%;
        font-size: 18px;
    }

    #twoButtons {
        width: 300px;
    }

    #currentStart, #currentEnd {
        width: 100px;
    }

    #currentStart {
        margin-right: 3px;
        margin-left: 0;
    }

    #currentEnd {
        margin-left: 3px;
        margin-right: 0;
    }

    #today-cont {
        display: none;
    }

    #database {
        display: none;
    }

    #display-container {
        display: none;
    }
}
