body {
    background: lightblue;
    width: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    width: 60%;
    min-width: 450px;
    margin: 10px auto;
    border: solid 6px black;
    background-color: rgb(206, 123, 108);
    text-align: center;
}

.container {
    width: 60%;
    min-width: 500px;
    margin: auto;
    display: grid;
    grid-template: 300px 100px / 1fr 1fr;
}

h1 {
    font-size: 30px;
    border-bottom: solid 3px white;
    width: 180px;
    margin: 10px auto;
}

.capsule {
    border: solid 2px black;
    border-radius: 5px;
    background-color: white;
    width: 120px;
    margin: auto auto 10px auto;
    padding: 3px;
}

p {
    font-size: 18px;
    font-weight: bold;
}

input {
    width: 50px;
    font-size: 40px;
}

input::placeholder {
    color: rgba(231, 166, 166, 0.63);
}

input:focus {
    border: solid 3px white;
    margin: -3px;
}

.input-div {
    display: block;
    width: 250px;
    border: solid 2px black;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

button {
    border: solid 2px black;
    width: 100px;
    height: 40px;
    margin-top: 8px;
    font-size: 20px;
    background-color: black;
    color: white;
}

button:hover {
    border: solid 2px black;
    background-color: white;
    color: black;
}

button:focus {
    border: solid 2px black;
    background-color: white;
    color: black;
}

#singleTotal {
    width: 250px;
    display: block;
    margin: auto;
    text-align: center;
}

#total {
    height: 150px;
}

#addToday {
    font-size: 15px;
    height: 72px;
}

.table-div {
    width: 250px;
    margin: auto;
    padding: 5px;
    text-align: center;
}
table {
    font-size: 18px;
}

th {
    font-size: 22px;
    text-decoration: underline;
    width: 170px;
    margin-bottom: 7px;
}

td {
    width: 170px;
    background-color: white;
    border: solid 3px black;
    padding: 3px;
}

#daysTotal {
    height: auto;
}

#totally {
    font-size: 22px;
    text-align: center;
}

#dude {
    margin-top: 5px;
    font-size: 30px;
    width: 200px;
    text-align: center;
    color: rgb(232, 224, 223);
    border: solid 3px white;
    border-radius: 2px;
    background-color: rgb(52, 50, 65);
    box-shadow: 4px 2px 2px black;
    padding: 4px;
}

#final {
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
    justify-content: center;
}

#daysTotal {
    font-size: 17px;
    width: 100px;
    margin: auto;
}